@font-face {
  font-family: "wyiconfont"; /* Project id 3928230 */
  src: url('./utils/wyiconfont/iconfont.woff2?t=1689068483123') format('woff2'),
       url('./utils/wyiconfont/iconfont.woff?t=1689068483123') format('woff'),
       url('./utils/wyiconfont/iconfont.ttf?t=1689068483123') format('truetype');
}

.wyiconfont {
  font-family: "wyiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liwuhuodong:before {
  content: "\e62b";
}

.icon-tongzhi:before {
  content: "\e642";
}

.icon-huodong:before {
  content: "\e62c";
}

.icon-navicon-wxctp:before {
  content: "\e662";
}

.icon-navicon-tp:before {
  content: "\e66d";
}

.icon-tongzhi1:before {
  content: "\e63e";
}

.icon-toupiao:before {
  content: "\e686";
}

.icon-huodong1:before {
  content: "\e62d";
}

.icon-huodong2:before {
  content: "\e631";
}

.icon-toupiao1:before {
  content: "\e69b";
}

.icon-tongzhi2:before {
  content: "\e7d1";
}

.icon-shequhuodong:before {
  content: "\e632";
}

.icon-shangcheng:before {
  content: "\e7a8";
}

.icon-wuyejiaofei:before {
  content: "\e627";
}

.icon-shenghuofuwu:before {
  content: "\e62a";
}

.icon-wuyebaoxiu:before {
  content: "\e6b0";
}

.icon-wenjianxiazai:before {
  content: "\e61b";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e625";
}

.icon-wenjianxiazai1:before {
  content: "\e641";
}

.icon-peizhitubiaosvg-:before {
  content: "\e653";
}

.icon-wenjianxiazai2:before {
  content: "\e888";
}

.icon-gongcheng:before {
  content: "\e610";
}

.icon-gongcheng-:before {
  content: "\e746";
}

.icon-gongcheng-1:before {
  content: "\e757";
}

.icon-icon-:before {
  content: "\e671";
}

.icon-huanjingweisheng:before {
  content: "\e61a";
}

.icon-gongchengshebei:before {
  content: "\e648";
}

.icon-shebei:before {
  content: "\e630";
}

.icon-nvguanjia:before {
  content: "\e6af";
}

.icon-nanguanjia:before {
  content: "\e6b1";
}

.icon-anbao:before {
  content: "\e689";
}

.icon-guanjiaguanli:before {
  content: "\e749";
}

.icon-a-24Hanbao:before {
  content: "\e626";
}

.icon-weitongguo1:before {
  content: "\e668";
}

.icon-yinshuiji-:before {
  content: "\e647";
}

.icon-shafa5:before {
  content: "\e661";
}

.icon-weibiaoti-:before {
  content: "\e60b";
}

.icon-shafa6:before {
  content: "\e6c6";
}

.icon-jiesuo:before {
  content: "\e75b";
}

.icon-dibudaohanglan-:before {
  content: "\e62f";
}

.icon-reshuiqi:before {
  content: "\e60e";
}

.icon-shachongji:before {
  content: "\eb6e";
}

.icon-jiazheng_huaban1fuben38:before {
  content: "\e623";
}

.icon-jiazheng_huaban1fuben36:before {
  content: "\e624";
}

.icon-chouchong:before {
  content: "\e969";
}

.icon-chong:before {
  content: "\e96a";
}

.icon-11wangluoanquan_ruchong:before {
  content: "\e60f";
}

.icon-chuanglian:before {
  content: "\e710";
}

.icon-reshuiqi1:before {
  content: "\e87a";
}

.icon-shafa:before {
  content: "\e639";
}

.icon-xiyiji:before {
  content: "\e67d";
}

.icon-kaisuo1:before {
  content: "\e684";
}

.icon-suo101:before {
  content: "\e6f8";
}

.icon-kongdiaoqingxi:before {
  content: "\e66a";
}

.icon-xiyijiqingxi:before {
  content: "\e66c";
}

.icon-youyanjiqingji:before {
  content: "\e66e";
}

.icon-reshuiqianzhuang:before {
  content: "\e60c";
}

.icon-jiadianweixiu:before {
  content: "\e628";
}

.icon-tubiao-:before {
  content: "\e613";
}

.icon-shafa1:before {
  content: "\e652";
}

.icon-mimasuo-:before {
  content: "\e60d";
}

.icon-jiadian:before {
  content: "\e617";
}

.icon-shafa2:before {
  content: "\e61c";
}

.icon-curtain:before {
  content: "\e618";
}

.icon-app_icons--:before {
  content: "\e61d";
}

.icon-quchong:before {
  content: "\e60a";
}

.icon-guigetubiao-:before {
  content: "\e612";
}

.icon-shafa3:before {
  content: "\e724";
}

.icon-shafa4:before {
  content: "\e61f";
}

.icon-jingmikongtiao:before {
  content: "\e673";
}

.icon-kaisuo:before {
  content: "\e620";
}

.icon-matong:before {
  content: "\e607";
}

.icon-kongtiao1:before {
  content: "\e63c";
}

.icon-guandao:before {
  content: "\ec51";
}

.icon-jiajuyugang-:before {
  content: "\e609";
}

.icon-chuzuche:before {
  content: "\e621";
}

.icon-baojie:before {
  content: "\e61e";
}

.icon-jiajiabaojie-tubiao-:before {
  content: "\e638";
}

.icon-baojie1:before {
  content: "\e611";
}

.icon-shouqing:before {
  content: "\e616";
}

.icon-lianxi-yishouqing:before {
  content: "\e6fd";
}

.icon-weitongguo:before {
  content: "\e606";
}

.icon-shenheweitongguo:before {
  content: "\e651";
}

.icon-wenhao-yuankuang:before {
  content: "\e8e9";
}

.icon-guanyuwomen:before {
  content: "\e654";
}

.icon-shenhezhong:before {
  content: "\e605";
}

.icon-baobao:before {
  content: "\e63d";
}

.icon-shezhi1:before {
  content: "\e67b";
}

.icon-liwu:before {
  content: "\e603";
}

.icon-iconfontphone:before {
  content: "\e634";
}

.icon-hudi:before {
  content: "\e604";
}

.icon-zhifudikou:before {
  content: "\e716";
}

.icon-yiwudizhai:before {
  content: "\e669";
}

.icon-shouhoufuwu:before {
  content: "\e602";
}

.icon-jifendikou:before {
  content: "\e629";
}

.icon-fuwu_o:before {
  content: "\ebbe";
}

.icon-renminshenghuo:before {
  content: "\e67e";
}

.icon-qianbao:before {
  content: "\e62e";
}

.icon-qian4:before {
  content: "\e6e9";
}

.icon-a-kefukefuzhongxin:before {
  content: "\e63a";
}

.icon-shezhi:before {
  content: "\e666";
}

.icon-youxuan:before {
  content: "\e748";
}

.icon-dingdan:before {
  content: "\e622";
}

.icon-dingzhijiaju:before {
  content: "\e619";
}

.icon-aixin:before {
  content: "\e608";
}

.icon-menchuanglei:before {
  content: "\e600";
}

.icon-shuitong:before {
  content: "\e614";
}

.icon-qiche:before {
  content: "\e615";
}

.icon-mofabang:before {
  content: "\e601";
}

